* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(122, 152, 250, 0.7);
  min-height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  height: 70px;
}
#taskInput {
  padding: 16px;
  border: none;
  border-radius: 16px;
}
#addBtn {
  padding: 16px;
  background: rgba(158, 252, 239, 0.5);
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.4s ease;
}
#addBtn:hover {
  transform: translateY(-2px);
  box-shadow: 5px 5px 16.5px rgba(0, 0, 0, 0.3);
}
#addBtn:active {
  transform: translateY(0px);
  box-shadow: 0px 0px 0px;
}
#taskList {
  list-style: none;
  margin-top: 20px;
}
#taskList li {
  background: rgba(145, 180, 255, 0.8);
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  padding: 6px;
}
#taskList button {
  height: 25px;
  width: 25px;
  border-radius: 8px;
  background: rgb(255, 68, 68);
  border: 0px solid;
  cursor: pointer;
  transition: all 0.4s ease;
}
#taskList button:hover {
  transform: translateY(-1.6px);
  background: rgb(255, 68, 68, 0.895);
  box-shadow: 5px 5px 16.5px rgba(0, 0, 0, 0.3);
}
#taskList input {
  cursor: pointer;
  transition: all 0.5s ease;
}
#taskList input:hover {
  transform: translateY(-1px);
}
#taskList input:active {
  transform: translateY(0px);
}
