* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(122, 152, 250, 0.7);
  min-height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  height: 70px;
}
#taskInput {
  flex: 2;
  padding: 16px;
  border: none;
  border-radius: 16px;
  width: 175px;
}
#addBtn {
  flex: 1;
  padding: 16px;
  background: rgba(158, 252, 239, 0.5);
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.4s ease;
  width: 90px;
}
#addBtn:hover {
  background: rgba(158, 252, 239, 0.4);
  transform: translateY(-2px);
  box-shadow: 5px 5px 16.5px rgba(0, 0, 0, 0.3);
}
#addBtn:active {
  transform: translateY(0px);
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
}
#taskList {
  list-style: none;
  margin-top: 20px;
}
#taskList li {
  background: rgba(145, 180, 255, 0.8);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  padding: 6px;
}
#taskList button {
  height: 25px;
  width: 25px;
  border-radius: 8px;
  background: rgb(255, 68, 68);
  border: 0px solid;
  cursor: pointer;
  transition: all 0.4s ease;
}
#taskList button:hover {
  transform: translateY(-1px);
  background: rgb(255, 68, 68, 0.895);
  box-shadow: 5px 5px 16.5px rgba(0, 0, 0, 0.3);
}
#taskList input {
  cursor: pointer;
  transition: all 0.5s ease;
}
#taskList input:hover {
  transform: translateY(-1px);
}
#taskList input:active {
  transform: translateY(0px);
}
main {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  max-width: 350px;
  border-radius: 32px;
  padding: 64px;
}
.filterBtn {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 15px;
}
.filterBtn button {
  background: white;
  flex: 3;
  padding: 8px;
  border-radius: 16px;
  border: 0px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.filterBtn button:hover {
  background: rgba(255, 255, 255, 0.83);
  transform: translateY(-1px);
  box-shadow: 4px 4px 16.5px rgba(0, 0, 0, 0.3);
}
.filterBtn button:active {
  background: white;
  transform: translateY(0px);
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
}
#taskList .returnBtn {
  background: rgb(80, 152, 247);
  transition: all 0.4s ease;
}
#taskList .returnBtn:hover {
  background: rgba(80, 152, 247, 0.726);
  transform: translateY(-1px);
}
#taskList .returnBtn:active {
  background: rgba(80, 152, 247);
  transform: translateY(0px);
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.btnGroup {
  display: flex;
  gap: 10px;
}
#archiveTasks {
  background: white;
  float: right;
  padding: 12px;
  border-radius: 16px;
  border: 0px;
  cursor: pointer;
  transition: all 0.4s ease;
}
#archiveTasks:hover {
  background: rgba(255, 255, 255, 0.9);
  transform: translateY(-1.2px);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
}
#archiveTasks:active {
  background: white;
  transform: translateY(0px);
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
}
span {
  cursor: pointer;
}
#inputEdit {
  padding: 6px;
  border-radius: 12px;
  border: 0;
}
#inputEdit:focus {
  cursor: text;
}
